/*
	syntax for CSS
	Selector{
	Property: Value;
	}

*/

/*Universal selectro it will apply all the value stated on the rule for all elements*/
*{
	font-family: 'Roboto', sans-serif;
}

h1, p{
	font-family: 'Montserrat', sans-serif;
}

#profile{
	height: 250px;
	width: 250px;

	border-radius: 50%;
}

body{
	background-color: #BEECF2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23BEECF2' cx='50' cy='0' r='50'/%3E%3Cg fill='%23b6e6ec' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aedfe6' cx='50' cy='100' r='50'/%3E%3Cg fill='%23a6d9df' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%239ed3d9' cx='50' cy='200' r='50'/%3E%3Cg fill='%2396ccd3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%238ec6cd' cx='50' cy='300' r='50'/%3E%3Cg fill='%2386c0c7' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%237ebac1' cx='50' cy='400' r='50'/%3E%3Cg fill='%2376b3bb' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236eadb5' cx='50' cy='500' r='50'/%3E%3Cg fill='%2366a7af' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%235da1a9' cx='50' cy='600' r='50'/%3E%3Cg fill='%23559ba4' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234c959e' cx='50' cy='700' r='50'/%3E%3Cg fill='%23438f98' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a8992' cx='50' cy='800' r='50'/%3E%3Cg fill='%2330838d' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23257e87' cx='50' cy='900' r='50'/%3E%3Cg fill='%23177882' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%2301727C' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}

#landing{
	/*vh - viewport height determines the percentage of the height of the device that you are using	*/
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}